In [1]:
import pandas as pd
import matplotlib.pyplot as plt
wd = %pwd
import os
fdel = os.path.sep

from MacroBackend import Utilities, PriceImporter, Pull_Data, Charting
import datetime

keys = Utilities.api_keys()
print(keys.keys)
myFredAPI_key = keys.keys['fred']
DataStart = "2021-01-01"
EndDateStr = datetime.date.today().strftime("%Y-%m-%d")

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.
/Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend /Users/jamesbishop/Documents/Python/Bootleg_Macro
Looking for api keys in SystemInfo folder... /Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend/SystemInfo/API_Keys.json
API_keys found but the "API_Keys_demo.json" file is still present... Delete that file to silence this warning.
{'fred': 'f632119c4e0599a3229fec5a9ac83b1c', 'glassnode': '2RpkhVDN1GXAgTNG23u9lhHQCJL', 'bea': '779F26DA-1DB0-4CC2-94DD-2AE3492DA4FC', 'quandl': 'ChHHNTWkY4rb3aYoYepw'}

In [2]:
btfp_meta, btfp = PriceImporter.PullFredSeries("H41RESPPALDKNWW",myFredAPI_key,start=DataStart,end=EndDateStr,Con2Bil=True)
btfp_d = btfp.resample('D').ffill()
print(btfp_d)
btfp_d

FRED API response:  200
date
2021-01-06      0.000
2021-01-07      0.000
2021-01-08      0.000
2021-01-09      0.000
2021-01-10      0.000
               ...
2024-04-20    125.706
2024-04-21    125.706
2024-04-22    125.706
2024-04-23    125.706
2024-04-24    125.492
Freq: D, Name: H41RESPPALDKNWW, Length: 1205, dtype: float64

date
2021-01-06      0.000
2021-01-07      0.000
2021-01-08      0.000
2021-01-09      0.000
2021-01-10      0.000
               ...
2024-04-20    125.706
2024-04-21    125.706
2024-04-22    125.706
2024-04-23    125.706
2024-04-24    125.492
Freq: D, Name: H41RESPPALDKNWW, Length: 1205, dtype: float64

In [ ]:
from yahoofinancials import YahooFinancials as yf
import datetime

start_date = "2018-01-01"
end_date = datetime.date.today().strftime("%Y-%m-%d")
ticker = yf("TSLA")
#data = ticker.get_historical_price_data("2000-01-01", end_date, "daily")

#data
data = ticker.get_historical_price_data(start_date, end_date, "daily")

In [11]:
data.keys()
data["TSLA"].keys()
df = pd.DataFrame(data["TSLA"]["prices"]).set_index("formatted_date", drop=True).drop("date", axis=1)
df
df

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2018-01-02,21.474001,20.733334,20.799999,21.368668,65283000,21.368668
2018-01-03,21.683332,21.036667,21.400000,21.150000,67822500,21.150000
2018-01-04,21.236668,20.378668,20.858000,20.974667,149194500,20.974667
2018-01-05,21.149332,20.799999,21.108000,21.105333,68868000,21.105333
2018-01-08,22.468000,21.033333,21.066668,22.427334,147891000,22.427334
...,...,...,...,...,...,...
2024-04-25,170.880005,158.360001,158.960007,170.179993,126427500,170.179993
2024-04-26,172.119995,166.369995,168.850006,168.289993,109815700,168.289993
2024-04-29,198.869995,184.539993,188.419998,194.050003,243869700,194.050003
2024-04-30,190.949997,182.839996,186.979996,183.279999,127031800,183.279999
2024-05-01,185.860001,179.009995,182.000000,179.990005,92654200,179.990005

: