In [1]:
import pandas as pd

bigtab = pd.read_csv("ABS_Series_MasterIndex.csv")
bigtab.head()

,Series ID,Data Item Description,Series Type,Series ID.1,Series Start,Series End,No. Obs.,Unit,Data Type,Freq.,Collection Month,Table,Table Description,Catalogue number
0,A2454446F,Households ; Rent and other dwelling services ...,Seasonally Adjusted,A2454446F,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
1,A2454447J,Households ; Final consumption expenditure (Cu...,Seasonally Adjusted,A2454447J,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
2,A2454448K,Households ; Rent and other dwelling services ...,Seasonally Adjusted,A2454448K,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
3,A2454449L,Households ; Final consumption expenditure (Ch...,Seasonally Adjusted,A2454449L,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
4,A2454450W,General government - National ; Final consumpt...,Seasonally Adjusted,A2454450W,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003

In [2]:
import os 
wd = %pwd
parentdir = os.path.dirname(wd); grampa = os.path.dirname(parentdir)
print(wd)
fdel = os.path.sep
import sys
sys.path.append(grampa)

/Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend/ABS_backend

In [3]:
os.path.dirname(wd)

'/Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend'

In [4]:
import readabs_py as abs
import readabs
import pickle

INFO - tedata package initialized successfully!

/Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend /Users/jamesbishop/Documents/Python/Bootleg_Macro
System information:  darwin , directory delimiter:  / , working directory:  /Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend/Glassnode

In [5]:
cat = readabs.abs_catalogue()

In [6]:
len(cat.index)

38

In [7]:
# dicts = {}
# save1 = pd.HDFStore(wd+fdel+"datadump"+fdel+"full_cat.h5", mode='w')

# for catnum in cat.index:
#     print(f"Processing catalogue number: {catnum}")
#     data_dict, metadata_df = readabs.read_abs_cat(cat=catnum)
    
#     # Save metadata to HDF5
#     save1[catnum] = metadata_df
    
#     # Store data_dict
#     dicts[catnum] = data_dict
    
#     print("Saved metadata, keys in data_dict:", data_dict.keys())

# print("Finished processing all catalogs, closing HDF5...")
# save1.close()

# print("Saving ALL data dicts to single pickle file...")
# with open(wd+fdel+"datadump"+fdel+"all_data_dicts.pkl", "wb") as save2:
#     pickle.dump(dicts, save2)  # Save the whole dicts dictionary

# print(f"Saved {len(dicts)} catalogs to pickle!")

In [8]:
# full = pd.HDFStore(wd+fdel+"datadump"+fdel+"full_cat.h5", mode='r')
# full.keys()

In [9]:
# total_rows = 0; total_unique_ids = 0
# abs_masterIndex = pd.DataFrame()
# for key in full.keys():
#     df = full[key]
#     filtd = df[~df.index.duplicated()]
#     rows = len(df)
#     unique_ids = len(filtd)
#     total_rows += rows
#     total_unique_ids += unique_ids
#     abs_masterIndex = pd.concat([abs_masterIndex, filtd])
#     print(f"Table {key} has {rows} rows in the bad boy with {unique_ids} unique IDs.")
# print(f"In total we have {total_rows} number of rows in the ABS catalogues with {total_unique_ids} unique Series IDs.")

In [10]:
abs_masterIndex = pd.read_hdf(wd+fdel+"abs_master_index.h5s", key='data')
abs_masterIndex.head()

,Data Item Description,Series Type,Series ID,Series Start,Series End,No. Obs.,Unit,Data Type,Freq.,Collection Month,Table,Table Description,Catalogue number
Series ID,,,,,,,,,,,,,
A2454446F,Households ; Rent and other dwelling services ...,Seasonally Adjusted,A2454446F,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2454447J,Households ; Final consumption expenditure (Cu...,Seasonally Adjusted,A2454447J,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2454448K,Households ; Rent and other dwelling services ...,Seasonally Adjusted,A2454448K,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2454449L,Households ; Final consumption expenditure (Ch...,Seasonally Adjusted,A2454449L,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2454450W,General government - National ; Final consumpt...,Seasonally Adjusted,A2454450W,1959-09-01,2025-09-01,265,$ Millions,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003

In [11]:
# abs_masterIndex.to_csv(wd+fdel+"ABS_Series_MasterIndex.csv")

In [12]:
mi = pd.HDFStore(wd+fdel+"abs_master_index.h5s", mode='w')
mi["data"] = abs_masterIndex
mi.close()

/var/folders/lj/yg38j90s0mq9l9mk98st457m0000gn/T/ipykernel_3630/2996547123.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->Index(['Data Item Description', 'Series Type', 'Series ID', 'No. Obs.', 'Unit',
       'Data Type', 'Freq.', 'Collection Month', 'Table', 'Table Description',
       'Catalogue number'],
      dtype='object')]

  mi["data"] = abs_masterIndex

In [13]:
from MacroBackend.Utilities import Search_DF_np as search

In [14]:
result = search(abs_masterIndex, "wage", use_cols=["Data Item Description"])
result

Original search terms list:  ['wage']

,Data Item Description,Series Type,Series ID,Series Start,Series End,No. Obs.,Unit,Data Type,Freq.,Collection Month,Table,Table Description,Catalogue number
Series ID,,,,,,,,,,,,,
A2454520T,Non-Farm ; Wage and Salary Earners ;,Seasonally Adjusted,A2454520T,1959-09-01,2025-09-01,265,000,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2454568C,Wage and salary earners ; Average weekly hours ;,Seasonally Adjusted,A2454568C,1959-09-01,2025-09-01,265,Number,DERIVED,Quarter,3,1364015003,Tables 01 to 17,1364.0.15.003
A2421038F,Wages and salaries ;,Original,A2421038F,1990-06-01,2025-06-01,36,$ Millions,DERIVED,Annual,6,5204006_Income_from_GDP,"Income from Gross Domestic Product (GDP), Curr...",5204.0
A2421317W,Wages and salaries: Percentage changes ;,Original,A2421317W,1991-06-01,2025-06-01,35,Percent,DERIVED,Annual,6,5204006_Income_from_GDP,"Income from Gross Domestic Product (GDP), Curr...",5204.0
A2421473X,Wages share of total factor income: Ratio ;,Original,A2421473X,1960-06-01,2025-06-01,66,Percent,DERIVED,Annual,6,5204016_Selected_Analytical_Series,Selected Analytical Series,5204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
A130126538L,Wages and salaries (including capitalised wage...,Original,A130126538L,2008-06-01,2024-06-01,17,$ Millions,FLOW,Annual,6,81550TSSDIVS,"Other services, by industry subdivision, 2023-24",8155.0
A130125314J,Wages and salaries (including capitalised wage...,Original,A130125314J,2008-06-01,2024-06-01,17,$ Millions,FLOW,Annual,6,81550TSSDIVS,"Other services, by industry subdivision, 2023-24",8155.0
A130125962F,Wages and salaries (including capitalised wage...,Original,A130125962F,2008-06-01,2024-06-01,17,$ Millions,FLOW,Annual,6,81550TSSDIVS,"Other services, by industry subdivision, 2023-24",8155.0
A130119706F,Wages and Salaries (including capitalised wage...,Original,A130119706F,2011-06-01,2024-06-01,14,$ Millions,FLOW,Annual,6,81550TSSDIVS,"Other services, by industry subdivision, 2023-24",8155.0
A130118166K,Wages and Salaries (including capitalised wage...,Original,A130118166K,2011-06-01,2024-06-01,14,$ Millions,FLOW,Annual,6,81550TSSDIVS,"Other services, by industry subdivision, 2023-24",8155.0

In [15]:
data = abs.get_series_by_id("A2421038F", verbose = True)

Getting series A2421038F
Downloading series A2421038F from catalog 5204.0
grab_abs_url(): url='https://www.abs.gov.au/statistics/economy/national-accounts/australian-system-national-accounts/latest-release', args={'verbose': True, 'ignore_errors': False, 'get_zip': True, 'get_excel_if_no_zip': True, 'get_excel': False, 'single_zip_only': '', 'single_excel_only': '', 'history': '', 'cache_only': False, 'keep_non_ts': False, 'zip_file': ''}
Retrieving from cache: .readabs_cache/cache--b25c7a1780382b15b880636aeb1f9332e75de19243da737e0501053725b80901--latest-release
Found links to the following ABS data tables:
Found: 1 items of type .zip: ['All-time-series-spreadsheets']
Found: 72 items of type .xlsx: ['5204001_Key_National_Aggregates', '5204002_Expenditure_on_GDP', '5204003_Expenditure_on_GDP_CPI', '5204004_Expenditure_on_GDP_IPD', '5204005_GVA_by_Industry', '5204006_Income_from_GDP', '5204007_National_Income_Account', '5204008_National_Capital_Account', '5204009_National_Financial_Account', '5204010_National_Balance_Sheet', '5204011_Balance_Sheet_Accumulation', '5204012_National_Analytical_Income', '5204013_Productivity', '5204014_Market_Sector_Productivity', '5204015_Labour_Productivity_Input', '5204016_Selected_Analytical_Series', '5204017_NonFin_Corp_Income_Account', '5204018_NonFin_Corp_Capital_Account', '5204019_NonFin_Corp_Financial_Account', '5204020_NonFin_Corp_Balance_Sheet', '5204021_Priv_NonFin_Corp_Income_Account', '5204022_Public_NonFin_Corp_Income_Account', '5204023_Priv_NonFin_Corp_Capital_Account', '5204024_Public_NonFin_Corp_Capital_Account', '5204025_Fin_Corp_Income_Account', '5204026_Fin_Corp_Capital_Account', '5204027_Fin_Corp_Financial_Account', '5204028_Fin_Corp_Balance_Sheet', '5204029_Life_Insurance_and_Superannuation', '5204030_GenGov_Income_Account', '5204031_GenGov_Adjusted_Income_Account', '5204032_GenGov_Capital_Account', '5204033_GenGov_Financial_Account', '5204034_GenGov_Balance_Sheet', '5204035_Government_FCE', '5204036_Household_Income_Account', '5204037_Household_Adjusted_Income_Account', '5204038_Household_Analytical_Income', '5204039_Household_Capital_Account', '5204040_Household_Financial_Account', '5204041_Household_Balance_Sheet', '5204042_Household_FCE', '5204043_External_Accounts', '5204044_External_Financial_Account', '5204045_External_Balance_Sheet', '5204046_Factor_Income_By_Industry', '5204047_Cons_Fixed_Capital_By_Industry', '5204048_Comp_Employees_By_Industry', '5204049_Income_Dwelling_Rent', '5204050_Agricultural_Income', '5204051_GFCF_By_AssetType', '5204052_Priv_GFCF_By_Industry', '5204053_Gen_Gov_GFCF', '5204054_Public_Corp_GFCF', '5204055_Changes_Inventories', '5204056_Capital_Stock_By_AssetType', '5204057_Capital_Stock_By_Sector', '5204058_Capital_Stock_By_Industry', '5204059_Consolidated_Balance_Sheet', '5204060_Livestock', '5204061_Land_Value_By_Use', '5204062_Subsoil_Assets', '5204063_Net_Capital_Stock_By_Industry', '5204064_GFCF_By_Industry_Asset', '5204065_Cons_Fixed_Capital_By_Industry_Asset', '5204066_Net_Capital_Stock_Machinery_Equipment', '5204067_GFCF_Machinery_Equipment_By_Industry', '5204068_Cons_Fixed_Capital_Machinery_Equipment', '5204069_Net_Capital_Stock_Info_Technology', '5204070_GFCF_Inf_Technology', '5204071_Cons_Fixed_Capital_Inf_Technology', '5204072_Unit_Labour_Costs']

Retrieving from cache: .readabs_cache/cache--12c2cd12680301f2d855c6e5deb338e4017b0465644ea51e059e060cb2d2afca--All-time-series-spreadsheets.zip
About to cature data from sheet_name='5204001_Key_National_Aggregates---Data1'
About to cature data from sheet_name='5204002_Expenditure_on_GDP---Data1'
About to cature data from sheet_name='5204003_Expenditure_on_GDP_CPI---Data1'
About to cature data from sheet_name='5204004_Expenditure_on_GDP_IPD---Data1'
About to cature data from sheet_name='5204005_GVA_by_Industry---Data1'
About to cature data from sheet_name='5204006_Income_from_GDP---Data1'
About to cature data from sheet_name='5204007_National_Income_Account---Data1'
About to cature data from sheet_name='5204008_National_Capital_Account---Data1'
About to cature data from sheet_name='5204009_National_Financial_Account---Data1'
About to cature data from sheet_name='5204010_National_Balance_Sheet---Data1'
About to cature data from sheet_name='5204011_Balance_Sheet_Accumulation---Data1'
About to cature data from sheet_name='5204012_National_Analytical_Income---Data1'
About to cature data from sheet_name='5204013_Productivity---Data1'
Table 5204014_Market_Sector_Productivity has no 'Index' sheet.
About to cature data from sheet_name='5204015_Labour_Productivity_Input---Data1'
About to cature data from sheet_name='5204016_Selected_Analytical_Series---Data1'
About to cature data from sheet_name='5204017_NonFin_Corp_Income_Account---Data1'
About to cature data from sheet_name='5204018_NonFin_Corp_Capital_Account---Data1'
About to cature data from sheet_name='5204019_NonFin_Corp_Financial_Account---Data1'
About to cature data from sheet_name='5204020_NonFin_Corp_Balance_Sheet---Data1'
About to cature data from sheet_name='5204021_Priv_NonFin_Corp_Income_Account---Data1'
About to cature data from sheet_name='5204022_Public_NonFin_Corp_Income_Account---Data1'
About to cature data from sheet_name='5204023_Priv_NonFin_Corp_Capital_Account---Data1'
About to cature data from sheet_name='5204024_Public_NonFin_Corp_Capital_Account---Data1'
About to cature data from sheet_name='5204025_Fin_Corp_Income_Account---Data1'
About to cature data from sheet_name='5204026_Fin_Corp_Capital_Account---Data1'
About to cature data from sheet_name='5204027_Fin_Corp_Financial_Account---Data1'
About to cature data from sheet_name='5204028_Fin_Corp_Balance_Sheet---Data1'
About to cature data from sheet_name='5204029_Life_Insurance_and_Superannuation---Data1'
About to cature data from sheet_name='5204030_GenGov_Income_Account---Data1'
About to cature data from sheet_name='5204031_GenGov_Adjusted_Income_Account---Data1'
About to cature data from sheet_name='5204032_GenGov_Capital_Account---Data1'
About to cature data from sheet_name='5204033_GenGov_Financial_Account---Data1'
About to cature data from sheet_name='5204034_GenGov_Balance_Sheet---Data1'
About to cature data from sheet_name='5204035_Government_FCE---Data1'
About to cature data from sheet_name='5204036_Household_Income_Account---Data1'
About to cature data from sheet_name='5204037_Household_Adjusted_Income_Account---Data1'
About to cature data from sheet_name='5204038_Household_Analytical_Income---Data1'
About to cature data from sheet_name='5204039_Household_Capital_Account---Data1'
About to cature data from sheet_name='5204040_Household_Financial_Account---Data1'
About to cature data from sheet_name='5204041_Household_Balance_Sheet---Data1'
About to cature data from sheet_name='5204042_Household_FCE---Data1'
About to cature data from sheet_name='5204043_External_Accounts---Data1'
About to cature data from sheet_name='5204044_External_Financial_Account---Data1'
About to cature data from sheet_name='5204045_External_Balance_Sheet---Data1'
About to cature data from sheet_name='5204046_Factor_Income_By_Industry---Data1'
About to cature data from sheet_name='5204047_Cons_Fixed_Capital_By_Industry---Data1'
About to cature data from sheet_name='5204048_Comp_Employees_By_Industry---Data1'
About to cature data from sheet_name='5204049_Income_Dwelling_Rent---Data1'
About to cature data from sheet_name='5204050_Agricultural_Income---Data1'
About to cature data from sheet_name='5204051_GFCF_By_AssetType---Data1'
About to cature data from sheet_name='5204052_Priv_GFCF_By_Industry---Data1'
About to cature data from sheet_name='5204053_Gen_Gov_GFCF---Data1'
About to cature data from sheet_name='5204054_Public_Corp_GFCF---Data1'
About to cature data from sheet_name='5204055_Changes_Inventories---Data1'
About to cature data from sheet_name='5204056_Capital_Stock_By_AssetType---Data1'
About to cature data from sheet_name='5204057_Capital_Stock_By_Sector---Data1'
About to cature data from sheet_name='5204058_Capital_Stock_By_Industry---Data1'
Caution: These columns are all NA: ['A3347123C', 'A3347126K', 'A3347129T', 'A2423057X']
About to cature data from sheet_name='5204059_Consolidated_Balance_Sheet---Data1'
About to cature data from sheet_name='5204059_Consolidated_Balance_Sheet---Data2'
About to cature data from sheet_name='5204060_Livestock---Data1'
About to cature data from sheet_name='5204061_Land_Value_By_Use---Data1'
About to cature data from sheet_name='5204062_Subsoil_Assets---Data1'
About to cature data from sheet_name='5204063_Net_Capital_Stock_By_Industry---Data1'
About to cature data from sheet_name='5204064_GFCF_By_Industry_Asset---Data1'
About to cature data from sheet_name='5204065_Cons_Fixed_Capital_By_Industry_Asset---Data1'
About to cature data from sheet_name='5204066_Net_Capital_Stock_Machinery_Equipment---Data1'
About to cature data from sheet_name='5204066_Net_Capital_Stock_Machinery_Equipment---Data2'
About to cature data from sheet_name='5204067_GFCF_Machinery_Equipment_By_Industry---Data1'
About to cature data from sheet_name='5204067_GFCF_Machinery_Equipment_By_Industry---Data2'
About to cature data from sheet_name='5204068_Cons_Fixed_Capital_Machinery_Equipment---Data1'
About to cature data from sheet_name='5204068_Cons_Fixed_Capital_Machinery_Equipment---Data2'
About to cature data from sheet_name='5204069_Net_Capital_Stock_Info_Technology---Data1'
About to cature data from sheet_name='5204070_GFCF_Inf_Technology---Data1'
About to cature data from sheet_name='5204071_Cons_Fixed_Capital_Inf_Technology---Data1'
About to cature data from sheet_name='5204072_Unit_Labour_Costs---Data1'

In [16]:
data[1]

Data Item Description                                 Wages and salaries ;
Series Type                                                       Original
Series ID                                                        A2421038F
Series Start                                           1990-06-01 00:00:00
Series End                                             2025-06-01 00:00:00
No. Obs.                                                                36
Unit                                                            $ Millions
Data Type                                                          DERIVED
Freq.                                                               Annual
Collection Month                                                         6
Table                                              5204006_Income_from_GDP
Table Description        Income from Gross Domestic Product (GDP), Curr...
Catalogue number                                                    5204.0
Name: A2421038F, dtype: object

In [17]:
rand = abs.get_series_by_id("A85312898C", verbose = True)
rand

Getting series A85312898C
Downloading series A85312898C from catalog 3222.0
grab_abs_url(): url='https://www.abs.gov.au/statistics/people/population/population-projections-australia/latest-release', args={'verbose': True, 'ignore_errors': False, 'get_zip': True, 'get_excel_if_no_zip': True, 'get_excel': False, 'single_zip_only': '', 'single_excel_only': '', 'history': '', 'cache_only': False, 'keep_non_ts': False, 'zip_file': ''}
Retrieving from cache: .readabs_cache/cache--d639f66eb56e8c1680b1f580c960600f6ed758baf98e852fbc7be302541fa869--latest-release
Found links to the following ABS data tables:
Found: 1 items of type .zip: ['Time-series-population-projections-by-age-and-sex']
Found: 29 items of type .xlsx: ['3222_Table_A1', '3222_Table_A2', '3222_Table_A3', '3222_Table_A4', '3222_Table_A5', '3222_Table_A6', '3222_Table_A7', '3222_Table_A8', '3222_Table_A9', '3222_Table_B1', '3222_Table_B2', '3222_Table_B3', '3222_Table_B4', '3222_Table_B5', '3222_Table_B6', '3222_Table_B7', '3222_Table_B8', '3222_Table_B9', '3222_Table_C1', '3222_Table_C2', '3222_Table_C3', '3222_Table_C4', '3222_Table_C5', '3222_Table_C6', '3222_Table_C7', '3222_Table_C8', '3222_Table_C9', 'Projected%20population%2C%20components%20of%20change%20and%20summary%20statistics%2C%202022%20%28base%29%20to%202071', '32220ds02_2022-2071_projection_assumptions_detailed']

Retrieving from cache: .readabs_cache/cache--58d4d8cdd59c95e15ee01f3b6920ed457877b827706629e1097c7742774caa75--Time-series-population-projections-by-age-and-sex.zip
About to cature data from sheet_name='3222_Table_A1---Data1'
About to cature data from sheet_name='3222_Table_A1---Data2'
About to cature data from sheet_name='3222_Table_A2---Data1'
About to cature data from sheet_name='3222_Table_A2---Data2'
About to cature data from sheet_name='3222_Table_A3---Data1'
About to cature data from sheet_name='3222_Table_A3---Data2'
About to cature data from sheet_name='3222_Table_A4---Data1'
About to cature data from sheet_name='3222_Table_A4---Data2'
About to cature data from sheet_name='3222_Table_A5---Data1'
About to cature data from sheet_name='3222_Table_A5---Data2'
About to cature data from sheet_name='3222_Table_A6---Data1'
About to cature data from sheet_name='3222_Table_A6---Data2'
About to cature data from sheet_name='3222_Table_A7---Data1'
About to cature data from sheet_name='3222_Table_A7---Data2'
About to cature data from sheet_name='3222_Table_A8---Data1'
About to cature data from sheet_name='3222_Table_A8---Data2'
About to cature data from sheet_name='3222_Table_A9---Data1'
About to cature data from sheet_name='3222_Table_A9---Data2'
About to cature data from sheet_name='3222_Table_B1---Data1'
About to cature data from sheet_name='3222_Table_B1---Data2'
About to cature data from sheet_name='3222_Table_B2---Data1'
About to cature data from sheet_name='3222_Table_B2---Data2'
About to cature data from sheet_name='3222_Table_B3---Data1'
About to cature data from sheet_name='3222_Table_B3---Data2'
About to cature data from sheet_name='3222_Table_B4---Data1'
About to cature data from sheet_name='3222_Table_B4---Data2'
About to cature data from sheet_name='3222_Table_B5---Data1'
About to cature data from sheet_name='3222_Table_B5---Data2'
About to cature data from sheet_name='3222_Table_B6---Data1'
About to cature data from sheet_name='3222_Table_B6---Data2'
About to cature data from sheet_name='3222_Table_B7---Data1'
About to cature data from sheet_name='3222_Table_B7---Data2'
About to cature data from sheet_name='3222_Table_B8---Data1'
About to cature data from sheet_name='3222_Table_B8---Data2'
About to cature data from sheet_name='3222_Table_B9---Data1'
About to cature data from sheet_name='3222_Table_B9---Data2'
About to cature data from sheet_name='3222_Table_C1---Data1'
About to cature data from sheet_name='3222_Table_C1---Data2'
About to cature data from sheet_name='3222_Table_C2---Data1'
About to cature data from sheet_name='3222_Table_C2---Data2'
About to cature data from sheet_name='3222_Table_C3---Data1'
About to cature data from sheet_name='3222_Table_C3---Data2'
About to cature data from sheet_name='3222_Table_C4---Data1'
About to cature data from sheet_name='3222_Table_C4---Data2'
About to cature data from sheet_name='3222_Table_C5---Data1'
About to cature data from sheet_name='3222_Table_C5---Data2'
About to cature data from sheet_name='3222_Table_C6---Data1'
About to cature data from sheet_name='3222_Table_C6---Data2'
About to cature data from sheet_name='3222_Table_C7---Data1'
About to cature data from sheet_name='3222_Table_C7---Data2'
About to cature data from sheet_name='3222_Table_C8---Data1'
About to cature data from sheet_name='3222_Table_C8---Data2'
About to cature data from sheet_name='3222_Table_C9---Data1'
About to cature data from sheet_name='3222_Table_C9---Data2'

(Series ID
 2022    114726.0
 2023    112216.0
 2024    112565.0
 2025    116274.0
 2026    118381.0
 2027    119900.0
 2028    123775.0
 2029    125922.0
 2030    129839.0
 2031    133294.0
 2032    136930.0
 2033    141227.0
 2034    144727.0
 2035    148250.0
 2036    153614.0
 2037    155019.0
 2038    156802.0
 2039    155507.0
 2040    151958.0
 2041    150554.0
 2042    151450.0
 2043    154849.0
 2044    161080.0
 2045    162862.0
 2046    173740.0
 2047    172189.0
 2048    166500.0
 2049    163291.0
 2050    161260.0
 2051    160028.0
 2052    161506.0
 2053    163419.0
 2054    168098.0
 2055    171867.0
 2056    179786.0
 2057    184450.0
 2058    191023.0
 2059    193185.0
 2060    196669.0
 2061    198814.0
 2062    200139.0
 2063    202881.0
 2064    205488.0
 2065    209581.0
 2066    211172.0
 2067    209877.0
 2068    210075.0
 2069    210126.0
 2070    210703.0
 2071    207615.0
 Freq: Y-JUN, Name: A85312898C, dtype: float64,
 Data Item Description    Projected persons ;  Female ;  75 ;  Series 29...
 Series Type                                                       Original
 Series ID                                                       A85312898C
 Series Start                                           2022-06-01 00:00:00
 Series End                                             2071-06-01 00:00:00
 No. Obs.                                                                50
 Unit                                                                Number
 Data Type                                                            STOCK
 Freq.                                                               Annual
 Collection Month                                                         6
 Table                                                        3222_Table_B9
 Table Description        Population projections, by age and sex, Austra...
 Catalogue number                                                    3222.0
 Name: A85312898C, dtype: object)

In [18]:
abs_masterIndex.iloc[7547]

Data Item Description    Projected persons ;  Female ;  76 ;  Series 29...
Series Type                                                       Original
Series ID                                                       A85312763V
Series Start                                           2022-06-01 00:00:00
Series End                                             2071-06-01 00:00:00
No. Obs.                                                                50
Unit                                                                Number
Data Type                                                            STOCK
Freq.                                                               Annual
Collection Month                                                         6
Table                                                        3222_Table_B9
Table Description        Population projections, by age and sex, Austra...
Catalogue number                                                    3222.0
Name: A85312763V, dtype: object

In [19]:
from MacroBackend import Pull_Data

In [20]:
test = Pull_Data.dataset()
test.get_data("abs_series", data_code="A85312763V")

Looking for data from source:  abs_series data code:  A85312763V
Getting ABS series directly for series id: A85312763V
[R] Downloaded series A85312763V to: /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/LastPull/3222_table_b9.xlsx
[Excel] Reading /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/LastPull/3222_table_b9.xlsx
[Excel] Looking for series: A85312763V
[Excel] Found A85312763V in column 177 (name: 'Projected persons ;  Female ;  76 ;  Series 29(B) ;')
[File] Copied to Full_Sheets: /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/Full_Sheets/3222_table_b9.xlsx
[File] Deleted old file: 3222_table_c9.xlsx
[Excel] Created series 'Projected persons ;  Female ;  76 ;  Series 29(B) ;' with 50 observations

In [21]:
test.SeriesInfo

Unit                                                           Number
Series Type                                                  Original
Data Type                                                       STOCK
Frequency                                                      Annual
Collection Month                                                    6
Series Start                                      2022-06-01 00:00:00
Series End                                        2071-06-01 00:00:00
No. Obs                                                            50
Series ID                                                  A85312763V
title               Projected persons ;  Female ;  76 ;  Series 29...
Name: A85312763V, dtype: object

In [22]:
import abs_series_by_r

In [23]:
excel_path = "/Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/Full_Sheets/643201.xlsx"
series, SeriesInfo = abs_series_by_r.get_abs_series_from_excel(excel_file_path=excel_path, series_id="A83728629A")

In [24]:
abs_masterIndex.iloc[10000]

Data Item Description    Projected persons ;  Persons ;  61 ;  Series 5...
Series Type                                                       Original
Series ID                                                       A85315125F
Series Start                                           2022-06-01 00:00:00
Series End                                             2071-06-01 00:00:00
No. Obs.                                                                50
Unit                                                                Number
Data Type                                                            STOCK
Freq.                                                               Annual
Collection Month                                                         6
Table                                                        3222_Table_C9
Table Description        Population projections, by age and sex, Austra...
Catalogue number                                                    3222.0
Name: A85315125F, dtype: object

In [25]:
SeriesInfo

Unit                                                       $ Millions
Series Type                                                  Original
Data Type                                                       STOCK
Frequency                                                     Quarter
Collection Month                                                    3
Series Start                                      2011-09-01 00:00:00
Series End                                        2025-03-01 00:00:00
No. Obs                                                            55
Series ID                                                  A83728629A
title               Value of dwelling stock; Owned by Non-Househol...
Name: A83728629A, dtype: object

In [26]:
dunno = abs_series_by_r.abs_download_with_r(series_id="A85315125F")

[R] Downloaded series A85315125F to: /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/LastPull/3222_table_c9.xlsx
[Excel] Reading /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/LastPull/3222_table_c9.xlsx
[Excel] Looking for series: A85315125F
[Excel] Found A85315125F in column 13 (name: 'Projected persons ;  Persons ;  61 ;  Series 54(C) ;')
[File] Copied to Full_Sheets: /Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/Full_Sheets/3222_table_c9.xlsx
[Excel] Created series 'Projected persons ;  Persons ;  61 ;  Series 54(C) ;' with 50 observations

In [27]:
dunno

(2022-06-01    308863
 2023-06-01    313539
 2024-06-01    317151
 2025-06-01    314406
 2026-06-01    306762
 2027-06-01    303682
 2028-06-01    305261
 2029-06-01    311845
 2030-06-01    324465
 2031-06-01    328731
 2032-06-01    350767
 2033-06-01    347689
 2034-06-01    336160
 2035-06-01    329177
 2036-06-01    324537
 2037-06-01    322152
 2038-06-01    322355
 2039-06-01    325289
 2040-06-01    334748
 2041-06-01    343059
 2042-06-01    360913
 2043-06-01    371909
 2044-06-01    385528
 2045-06-01    388855
 2046-06-01    394609
 2047-06-01    398997
 2048-06-01    399859
 2049-06-01    403254
 2050-06-01    408830
 2051-06-01    416570
 2052-06-01    418495
 2053-06-01    414111
 2054-06-01    414931
 2055-06-01    416110
 2056-06-01    418223
 2057-06-01    410866
 2058-06-01    404443
 2059-06-01    398976
 2060-06-01    401555
 2061-06-01    411172
 2062-06-01    410217
 2063-06-01    401897
 2064-06-01    405612
 2065-06-01    415131
 2066-06-01    423497
 2067-06-01    433743
 2068-06-01    445028
 2069-06-01    447913
 2070-06-01    447279
 2071-06-01    449998
 Name: Projected persons ;  Persons ;  61 ;  Series 54(C) ;, dtype: int64,
 Unit                                                           Number
 Series Type                                                  Original
 Data Type                                                       STOCK
 Frequency                                                      Annual
 Collection Month                                                    6
 Series Start                                      2022-06-01 00:00:00
 Series End                                        2071-06-01 00:00:00
 No. Obs                                                            50
 Series ID                                                  A85315125F
 title               Projected persons ;  Persons ;  61 ;  Series 5...
 Name: A85315125F, dtype: object)

In [28]:
dunno

(2022-06-01    308863
 2023-06-01    313539
 2024-06-01    317151
 2025-06-01    314406
 2026-06-01    306762
 2027-06-01    303682
 2028-06-01    305261
 2029-06-01    311845
 2030-06-01    324465
 2031-06-01    328731
 2032-06-01    350767
 2033-06-01    347689
 2034-06-01    336160
 2035-06-01    329177
 2036-06-01    324537
 2037-06-01    322152
 2038-06-01    322355
 2039-06-01    325289
 2040-06-01    334748
 2041-06-01    343059
 2042-06-01    360913
 2043-06-01    371909
 2044-06-01    385528
 2045-06-01    388855
 2046-06-01    394609
 2047-06-01    398997
 2048-06-01    399859
 2049-06-01    403254
 2050-06-01    408830
 2051-06-01    416570
 2052-06-01    418495
 2053-06-01    414111
 2054-06-01    414931
 2055-06-01    416110
 2056-06-01    418223
 2057-06-01    410866
 2058-06-01    404443
 2059-06-01    398976
 2060-06-01    401555
 2061-06-01    411172
 2062-06-01    410217
 2063-06-01    401897
 2064-06-01    405612
 2065-06-01    415131
 2066-06-01    423497
 2067-06-01    433743
 2068-06-01    445028
 2069-06-01    447913
 2070-06-01    447279
 2071-06-01    449998
 Name: Projected persons ;  Persons ;  61 ;  Series 54(C) ;, dtype: int64,
 Unit                                                           Number
 Series Type                                                  Original
 Data Type                                                       STOCK
 Frequency                                                      Annual
 Collection Month                                                    6
 Series Start                                      2022-06-01 00:00:00
 Series End                                        2071-06-01 00:00:00
 No. Obs                                                            50
 Series ID                                                  A85315125F
 title               Projected persons ;  Persons ;  61 ;  Series 5...
 Name: A85315125F, dtype: object)

In [37]:
rba = Pull_Data.dataset()
rba.get_data("rba_series", data_code="FDBFIFHHL")
rba.data

Looking for data from source:  rba_series data code:  FDBFIFHHL
Data pull timed out after 60 seconds for FDBFIFHHL from rba_series

0    Data pull timed out after 60 seconds
Name: Timeout_FDBFIFHHL, dtype: object

In [35]:
rba.data

date
1997-06-30     268.7241
1998-06-30     454.7497
1999-06-30     427.9021
2000-06-30     536.5480
2001-06-30     512.9754
2002-06-30     642.3094
2003-06-30     742.1092
2004-06-30     802.5526
2005-06-30     800.0518
2006-06-30     879.9498
2007-06-30    1060.8916
2008-06-30    1136.3934
2009-06-30    1356.2431
2010-06-30    1360.0777
2011-06-30    1212.3427
2012-06-30    1202.4900
2013-06-30    1201.1517
2014-06-30    1182.2384
2015-06-30    1242.5707
2016-06-30    1258.4054
2017-06-30    1265.3988
2018-06-30    1169.5330
2019-06-30    1159.9589
2020-06-30    1188.1905
Name: Domestic banking fee income; Fees from households; Housing loans, dtype: float64